
  <head>
<title>WebCampBackendNew</title>
  </head>
   <h1>
     ようこそ
     <strong>Bookers</strong>
     へ！
   </h1>
   <p>
    <strong>&emsp;&emsp;Bookers</strong>
     では、さまざまな書籍に関するあなたの意見や</br>
   </p>
   <p>&emsp;&emsp;印象を共有し交換することができます</p>
    <span style="margin-left:30px">
     <a href="/books">start</a>
    </span>


